body{
	background-color: red;
	margin: 0px;

}

.container{
	height: 100%;

	background-color: #c6c6c6;

	display: flex;
	justify-content: center;
	padding: 20px 100px 0px 100px;
}

.form_cadastro{
	height: auto;
	width: 30vw;

	box-shadow: 5px 2px 3px  #888888;

	background-color: white;

	flex-direction: collumn;
	display: flex;

	border-radius: 5px;

	justify-content: center;
	align-items: center;
	font-family: Montserrat, Regular;

}

.form_cadastro input[type=submit]{
	text-align: center;
	font-family: Montserrat;
	justify-content: center;
	border-radius: 6px;
}

.form_cadastro h2{
	text-align: center;
	font-family: Montserrat;
}
.cont1{
	width: 100%;
	display: flex;
	justify-content: center;

}
.cont2{
	width: 100%;
	display: flex;
	justify-content: center;
}

.campo{

	border-radius: 8px;

	height: 30px;

	padding: 5px;

	border:none;
	background-color: #D3D3D3;
}

.ir_cadastro{
	display: flex;
	flex-direction: collumn;
	width: 100%;
	background-color: #E6E6E6;
	justify-content: center;
	padding: 15px;
}

.ir_cadastro a{
	text-decoration: none;
	color: #808080;
	font-family: Montserrat;
}

.ir_cadastro a:hover{
	color: orange;
}
